*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #000;
    min-width: 900px;
}

/****** header ******/

#main-header{
    background-color: #f00;
    height: 10vh;
}

#main-header .content-header{
    padding: 20px 10px;
    text-align: right;
  
}

/****** main ******/
main{
    height: calc(100vh - 25vh);
    overflow-y: scroll;
}



.container .gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}


.container .box{
 width: 300px;
 height: 240px;
 background-color: violet;
 margin: 10px;
 
  background-image: url("../img/17-246x146.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.text-desc{
    background-color: rgba(0, 0,0, 0.5);
    position: absolute;
    bottom:0;
    left:0;
    padding:10px;
}
/****** buttons ******/

.btn{
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.btn.btn-gray{
    background-color: #808080;
    color: #fff;

}


.btn.btn.btn-gray.btn-large{
    height: 100%;
    border-radius: 0;
    margin: 0;
    padding: 70px 20px;
    text-align: center;
    color: #f00;
}
a{
    text-decoration: none;
    color: white;
}

.fas{
    margin:0 3px;
    color: white;
}
/****** footer ******/
#main-footer{
    height:15vh;
    background-color: #222222;
}

.content-footer{
    display: flex;
    height: 100%;
}

.content-footer .content-item{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.content-footer .content-item:last-child{
    justify-content: flex-end;
}
.content-footer .content-item:first-child{
    justify-content: flex-start;
}
.content-footer .content-item:nth-child(2){
    flex-grow: 1;
}
.content-footer .content-item .items{
    text-align: center;
    align-items: center;
    margin-left: 10px;
    white-space: nowrap;
}
#btn-footer .content-footer .content-item{
    align-items: flex-end;
}
.content-footer .fas{
    font-size: 30px;
    margin: 12px;
}

.fas.fa-chevron-up{
    font-size: 12px;
    margin-right: 20px;
    display: inline;
}

.fas.fa-share-square{
    color:lawngreen;
}



p{
    font-size: 20px;
    color: white;
}