*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #000;
}

/****** header ******/
#main-header{
    height: 8vh;
    background-color: yellow;
    overflow: hidden;
}

#main-header .content-header{
    margin: 20px 10px;
    text-align: right;
}

/****** buttons ******/

.btn{
    padding: 10px;
    border-radius: 10px;
}

.btn.btn-gray{
    background-color: #808080;
    color: #fff;

}

a{
    text-decoration: none;
    
}

.fas{
    margin:0 3px;
}
/****** footer ******/
/* #main-footer{
    height: 10vh;
    background-color: yellow;
    overflow: hidden;
} */
